* {
    text-align:center;
    
}
body{
  font-family: sans-serif;
  margin: 0;
  background-image:linear-gradient(to right,red,gold );
  
}

nav {
    color:white;
    text-decoration:none;
    display:flex;
    gap:25px;
    justify-content: space-evenly;
    list-style-type: none;
}
a{
    text-decoration:none;
    color:white;
    border:3px solid black;
    border-radius:35px;
    padding:10px;
    display:flex;
    flex-wrap:nowrap;
    box-shadow: 0 8px 16px rgba(0,0,0,0.);
    background-color:brown;
    
}
.yruru {
    width:300px;
    height:300px;
    padding:15px;
    border:2px solid grey;
    border-radius:10px;

    
    
    
}

main {
    background-image:linear-gradient(to right,green,gold);
}
footer {
    background-color:gold;
    display:flex;
    justify-content: space-evenly;
    background-image:linear-gradient(to right,gold,red);
}
.uryry:hover {
   background-color:green; 
   transition:all 0.5s;
}
.uryry:active {
    background-color:darkorange;
    transition:all 0.4s;
}
.knopka:hover {
    background-color:gold;
    transition:all 0.5s;
    color:black;
}
.knopka:active {
    background-color:darkorange;
    transition:all 0.4s;
    color:black;
}

.spusok {
    text-align:left;
}
.goduna {
    color:red;
}
.grafic {
    color:red;
}








